@inherits LayoutComponentBase
<Abc.Shared.Components.Layout.MainLayout 
    Title="Blazor veebirakendus" NavMenu="movieNavMenu" Body="@Body" />
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
@code {
    private RenderFragment movieNavMenu => 
        @<Abc.Soft.Web.Components.Layout.NavMenu />;
}
