@page "/countries"
@rendermode InteractiveServer
@using Abc.Data
@using Abc.Infra
@using Abc.Soft.Web.Data
@using Abc.Shared.Components
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject ICountriesRepo repo

<PageTitle>Countries</PageTitle>

<h1>Countries</h1>

<p>
    <a href="countries/create">Create New</a>
</p>
<div>
<QuickGrid Class="table" Items="Countries">
    <PropertyColumn Property="country => country.Name" Sortable="true" />
    <PropertyColumn Property="country => country.Code" />
    <PropertyColumn Property="country => country.Details" />
    <PropertyColumn Property="country => country.IsoCode" />
    <PropertyColumn Property="country => country.NativeName" />
    <PropertyColumn Property="country => country.NumericCode" />
    <PropertyColumn Property="country => country.OfficialName" />
    <PropertyColumn Property="country => country.ValidFrom" />
    <PropertyColumn Property="country => country.ValidTo" />

        <TemplateColumn Context="country">
            <a href="@($"countries/edit?id={country.Id}")">Edit</a> |
        <a href="@($"countries/details?id={country.Id}")">Details</a> |
            <a href="@($"countries/delete?id={country.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
</div>


@code {
    private IQueryable<Country> Countries = Enumerable.Empty<Country>().AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        if (repo is null) return;
        Countries = (await repo.GetAsync()).AsQueryable();
    }
}

